body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
  }
  
  #csvInput {
    width: 100%;
    height: 100px;
  }
  
  #buttonsContainer {
    margin-top: 10px;
  }
  
  button {
    display: block;
    margin: 5px 0;
    width: 100%;
  }
  